
body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    font-size: 15px;
    padding: 0;
    margin: 0;
    background-color: #f4f4f4;
}

/* Global css */

.container {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
}

.dark {
    background: #35424a;
    color: #fff;
    margin: 10px 0px;
    padding: 15px;
}
/* header css */

header {
    background-color: #35424a;
    color: #fff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: 3px solid #e8491d;
}

header a {

        text-transform: uppercase;
        text-decoration: none;
        color: #fff;
        font-size: 16px;

}

header ul {
    margin: 0;
    padding: 0;
}

header ul li {
    float: left;
    list-style: none;
    display: inline;
    padding: 0 20px;
}
header #branding {
    margin: 0;
    float: left;
    
}
header h1 {
    margin-top: -3px;
}

header nav {
    float: right;
    margin-top: 15px;
}

header .highlight, header .current a {
    color: #e8491d;
    font-weight: bold;
}

header a:hover {
    color: #ccc;
}

/* showcase css  */   

#showcase {
    min-height: 400px;
    background: url(img/showcase.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    color: #fff;
}

#showcase h1 {
    margin-top: 100px;
    font-size: 55px;
    margin-bottom: 10px;
}

#showcase p {
    font-size: 20px;
}

#newsletter {
    padding: 15px;
    color: #fff;
    background: #35424a;
}

#newsletter h1 {
    float: left;
}

#newsletter form {
    float: right;
    margin-top: 15px;
}

#newsletter input[type="email"] {
    padding: 4px;
    height: 25px;
    width: 250px;

}

.button_1 {
    height: 38px;
    border: none;
    color: #fff;
    background: #e8491d;
    padding: 0 20px;
    font-size: 18px;
}

/* boxes start  */

#boxes {
    margin-top: 30px;
}

#boxes .box {
    float: left;
    text-align: center;
    width: 30%;
    padding: 10px;
}

#boxes .box img {
    width: 90px;
}

/* sidebar css */

aside#sidebar {
    width: 30%;
    float: right;
    margin-top: 10px;

}
aside#sidebar .quote input,aside#sidebar .quote textarea {
    width: 90%;
    padding: 5px;
}

article#main-col {
    width: 65%;
    float: left;
}


/* services css */
ul#services li {
    list-style: none;
    padding: 20px;
    border: 1px solid #ccc;
    margin-bottom: 5px;
    background: #e6e6e6;
}
/* footer start  */

footer {
    padding: 20px;
    text-align: center;
    margin-top: 15px;
    color: #fff;
    background: #e8491d;
}


/* media query */

@media(max-width:768px) {
    header #branding, header nav, header nav li,#boxes .box ,#article#main-col ,aside#sidebar{
        text-align: center;
        width: 100%;
        float: none;
        display: inline-block;
    }
    header nav {
        margin-left: -30px;
    }
    header {
        padding-bottom: 20px;
    }
    #showcase h1 {
        margin-top: 40px;
    }

    #newsletter button {
        width: 100%;
        display: block;
        margin-top: 10px;
    }
}